@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  background-color: aliceblue;
  text-align: center;
  text-wrap:pretty;
}

button {
  background-color: rgb(205, 205, 205);
  border-color: black;
  border: 5px;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(166, 166, 166);
}

input {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 10px;
}

